@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.bg-dataslate {
  @apply bg-gradient-to-r;
  @apply from-primary-100;
  @apply to-white;
}

.hover\:bg-dataslate {
  @apply hover:from-primary-950;
  @apply hover:to-primary-900;
  @apply hover:text-primary-50;
}

.dataslate_background {
  background: rgb(176, 196, 183);
  background: -moz-linear-gradient(
    90deg,
    rgba(176, 196, 183, 1) 0%,
    rgba(242, 251, 247, 1) 57%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(176, 196, 183, 1) 0%,
    rgba(242, 251, 247, 1) 57%
  );
  background: linear-gradient(
    90deg,
    rgba(176, 196, 183, 1) 0%,
    rgba(242, 251, 247, 1) 57%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b0c4b7",endColorstr="#f2fbf7",GradientType=1);
}

.banner_background {
  background: rgb(5, 46, 22);
  background: -moz-linear-gradient(
    0deg,
    rgba(5, 46, 22, 1) 0%,
    rgba(20, 83, 45, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(5, 46, 22, 1) 0%,
    rgba(20, 83, 45, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(5, 46, 22, 1) 0%,
    rgba(20, 83, 45, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#052e16",endColorstr="#14532d",GradientType=1);
}

.builder_head_background {
  background: rgb(20, 83, 45);
  background: -moz-linear-gradient(
    153deg,
    rgba(20, 83, 45, 1) 0%,
    rgba(5, 46, 22, 1) 35%,
    rgba(2, 44, 34, 1) 100%
  );
  background: -webkit-linear-gradient(
    153deg,
    rgba(20, 83, 45, 1) 0%,
    rgba(5, 46, 22, 1) 35%,
    rgba(2, 44, 34, 1) 100%
  );
  background: linear-gradient(
    153deg,
    rgba(20, 83, 45, 1) 0%,
    rgba(5, 46, 22, 1) 35%,
    rgba(2, 44, 34, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14532d",endColorstr="#022c22",GradientType=1);
}

.builder_title_background {
  background: rgb(5, 46, 22);
  background: -moz-radial-gradient(
    circle,
    rgba(5, 46, 22, 1) 0%,
    rgba(11, 85, 22, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(5, 46, 22, 1) 0%,
    rgba(11, 85, 22, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(5, 46, 22, 1) 0%,
    rgba(11, 85, 22, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#052e16",endColorstr="#0b5516",GradientType=1);
}

.navbar_burger_background {
  background: rgb(28, 25, 23);
  background: -moz-linear-gradient(
    180deg,
    rgba(28, 25, 23, 1) 87%,
    rgba(68, 64, 60, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(28, 25, 23, 1) 87%,
    rgba(68, 64, 60, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(28, 25, 23, 1) 87%,
    rgba(68, 64, 60, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1917",endColorstr="#44403c",GradientType=1);
}

select {
  @apply cursor-pointer;
}

.clipped {
  clip-path: polygon(
    0 0.3rem,
    0.3rem 0,
    calc(100% - 0.3rem) 0,
    100% 0.3rem,
    100% calc(100% - 0.3rem),
    calc(100% - 0.3rem) 100%,
    0.3rem 100%,
    0% calc(100% - 0.3rem),
    0% 0.3rem
  )
}